.myFlexContainer {
  height: 80vh;
}

.interface {
  width: 250px;
  height: 260px;
  border: 2px solid black;
  padding: 20px 40px;
  border-radius: 10%;
}

.indexPageBackground {
  background-color: rgb(124, 255, 255);
}

.background {
  background-image: url("https://media.istockphoto.com/vectors/comic-page-bright-concept-vector-id1134933683?k=20&m=1134933683&s=612x612&w=0&h=0taK7O7R6JLH09TTmfSHizpdhP-BNh6ruXvzQBAxeqI=");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.button:hover {
  background-color: red;
}

body {
  font-family: "International Super Hero", sans-serif;
}

.backgroundMainPage {
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/208/140/original/cartoon-comic-halftone-background-free-vector.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.navBar {
  background-color: white;
  border-radius: 10px;
}

.searchDiv {
  width: 500px;
}

.searchTitle {
  font-size: 50px;
  color: white;
}

.searchBar {
  height: 30px;
  font-size: 20px;
}

.searchButton {
  padding: 0.15rem 1rem;
}
.searchButton:hover {
  background-color: red;
}

.title {
  color: white;
  font-size: 4rem;
}

.navButton {
  padding: 0.2rem 1rem;
}

.navButton:hover {
  background-color: red;
}

.whiteBackground{
  background-color: rgba(255, 255, 255, .5);
  margin: 0rem 30rem;
  position:relative;
  border-radius: 1rem;

}

.whiteBackgroundDetails{
   background-color: rgba(255, 255, 255, .5);
  position:relative;
  border-radius: 1rem;
}


.text{
  font-size: 1.7rem;
  margin: 0;
}

.teamButton{
  padding: .25rem;
  font-size: .75rem;
}

.teamButton:hover{
  background-color: red;
}
.commentName{
  border: 3px double yellow

}
.commentsMain{
  border: 3px double blue;
}

.backgroundDetails{
   background-image: url("https://static.vecteezy.com/system/resources/previews/002/208/140/original/cartoon-comic-halftone-background-free-vector.jpg");
   background-size: contain;
  background-repeat: repeat;

}