<h2>All users</h2>

<ul>
    <%allUsers.forEach(user => { %>
        <li><%=user.dataValues.username%></li>
        <form action="/users/blog/<%=user.dataValues.id%>" method="GET">
          <input hidden type="number" name="id" value="<%=user.dataValues.id%>">
          <button type="submit">Look at this Users Team</button>
        </form>
    <%});%>
</ul>