<link rel="stylesheet" type="text/css" href="../css/style.css" />

<div class="backgroundMainPage text-center">
  <div class="d-flex ">
    <div class=" flex-shrink-1">
      <a href="/users/profile" class="fs-4 ">Back</a>
    </div>
    <div class="p-2 w-100 ">
      <h1 class="title">Change Your Passowrd</h1>
    </div>
  </div>

   <div class="whiteBackground">
<div class="d-flex flex-column justify-content-center p-4">
<form method="POST" action="/users/editPassword/?_method=PUT">
  <div>
    <div class="mt-2" >
  <label for="email" class="text">Email:</label>
  </div>
  <input
    type="text"
    id="email"
    name="email"
    value="<%=currentUser.email%>"
    class="w-75 text-center" style="height: 1.7rem"
    readonly
  />
</div>

<div>
  <div class="mt-2">
  <label for="username" class="text">Username:</label>
  </div>
  <input
    type="text"
    id="username"
    name="username"
    value="<%=currentUser.username%>"
    class="w-75 text-center" style="height: 1.7rem"
    readonly
  />
</div>

<div>
  <div class="mt-2">
  <label for="password" class="text">Password:</label>
  </div>
  <input
    type="password"
    id="password"
    name="password"
    placeholder="Enter your New password"
    class="w-75 mb-3 text-center" style="height: 1.7rem"
    required
  />
</div>
  <button type="submit " class="btn btn-primary button" >Reset password</button>
</form>

  </div>
  </div>
</div>
