<h2> Login ejs</h2>

<form method="GET" action="/">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">

    <label for="password">Password:</label>
    <input type="text" id="password" name="passowrd">

    <button type="submit">Log in</button>
</form>