<% if(msg) { %>
    <div>
        <p><%= msg %></p>
    </div>
<%}%>

<h2>signup page</h2>

<form method="POST" action="/users/signup">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" placeholder="Enter your email">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter your username">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter a password">

    <button type="submit">Sign up</button>
</form>