<link rel="stylesheet" type="text/css" href="./css/style.css">
<div class="backgroundMainPage">
<h2>Hero List</h2>
<form method="GET" action="/heroes/list/details">
    <label for="search">Search</label>
    <input id="search" type="text" placeholder="Search for Hero Here" name="name" />
    <input type="submit" />
</form>
</div>